// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.like-btn {
  color: #8899a6;
}


.like-btn-unlike {
  color: #ff2581;

}

.classname{
  font-size: 30px !important;
}

.likecount{
  font-size: 20px;
  margin-left: 10px;
}


.posts-show-item .fa {
  font-size: 16px;
  margin-right: 3px;
}


.form-check{
  float:left;
  margin-right: 35px;
}

.badge-primary{
  margin: 10px 0 10px 0;
}




.tweets__searchForm {
  display: inline-block;
  position: absolute;
  top:177px;
  left:180px;
}

.tweets__select {
  display: inline-block;
  width: auto;
}

